$primary-color:#C9C9C9;
$secondary-color:#282727;
$tertiary-color:#1a1919;
$green-color:rgba(32, 250, 61, 0.562);
$danger-color:rgba(235, 35, 35, 0.89);

$primary-font: 'Nunito Sans', sans-serif;
$breakpoints : ("xs":25em, "sm": 37.5em, "md": 56.25em, "lg": 75em );